#articles    {margin:auto;}
#articles li {padding:6px;}

#header h1 {font-size:72px;margin-left:10%;}
#header    {border-bottom:solid 5px #3067A5;margin-top:20px;}

#content   {width:670px;margin-right:20px;margin-top:15px;float:left;padding: 0px 10px 10px 0px;}

#side-bar  {width:220px;margin-right:10px;margin-top:15px;float:left;}

#footer    {clear:both;border-top:1px solid black;height:45px;}
#footer p  {text-align:center;padding-top:10px;font-size:11px;}

.header-nav {width:68px;}
.site-nav {text-align:center;width:75px;margin-left:10px;float:left;}
.nav-offset {margin-left:660px;}

.kern {letter-spacing: -0.15em;}

/* Sticky footer -RF*/
* {margin:0;}
html, body { height: 100%; }
.wrapper {min-height: 100%;height:auto !important;height: 100%;margin: 0 auto -4em;}
.footer, .push {height: 4em;}
