#articles    {margin:auto;}
#articles li {padding:6px;}

#header h1 {font-size:72px;}
#header    {margin: 20px auto 0px auto;width:940px;}
#header-border {border-bottom:solid 5px #3067A5;width:100%;}

#content   {width:670px;margin-right:20px;margin-top:15px;float:left;padding: 0px 10px 10px 0px;}

#side-bar  {width:220px;margin-right:10px;margin-top:15px;float:left;}

.footer    {border-top:1px solid lightgray;padding-top:10px;width:100%;}
.footer p  {text-align:center;}

.header-nav {width:68px;}
.site-nav {text-align:center;width:75px;margin-left:10px;float:left;}
.nav-offset {margin-left:660px;}

.kern {letter-spacing: -0.15em;}

/* Sticky footer -RF*/
* {margin:0;}
html, body { height: 100%; }
.wrapper {min-height: 100%;height:auto !important;height: 100%;margin: 0 auto -4em;}
.footer, .push {height: 4em;}
