---
layout: application
title: Run With It
---
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
<script src="/javascripts/run_with_it.js"></script>

<div class="span9" id="articles">
  <div style="margin:0;padding:0;">
    <h1 id="articles-header">Articles:</h1>
    <div id="search_container"></div>
    <div style="clear:both;width:100%;"></div>
  </div>
  <div id="search_results"></div>
  <hr style="width:675px;"/>
  <div id="article-listing">
    <ul>
    {% for post in paginator.posts %}
      <li><a href="{{  post.url | remove_extension  }}">{{ post.title }}</a> (<span>{{ post.date | date_to_string }}</span>)<br/>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
    </ul>
    <div class="pagination">
      <ul>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <li>
              <a href="/">&larr;</a>
            </li>
          {% else %}
            <li>
              <a href="/page{{paginator.previous_page}}">&larr;</a>
            </li>
          {% endif %}
        {% else %}
          <li class="disabled">
            <a href="#">&larr;</a>
          </li>
        {% endif %}
        {% if paginator.page == 1 %}
          <li class="active">
            <a href="#">1</a>
          </li>
        {% else %}
          <li>
            <a href="/">1</a>
          </li>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
            <li class="active">
              <a href="#">{{count}}</a>
            </li>
          {% else %}
            <li>
              <a href="/page{{count}}">{{count}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
          <li>
            <a href="/page{{paginator.next_page}}">&rarr;</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#">&rarr;</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<!-- Search Template -->
<script type="text/template" id="search_template">
    <div class="form-horizontal" style="margin-bottom:10px;">
      <input type="text" id="search_input" placeholder="Search by Title" />
    </div>
</script>

<!-- Backbone View -->
<script type="text/javascript">
  var sitemap = new SiteMap
  var search_view = new  SearchView({el: $("#search_container"), sitemap: sitemap});
</script>