<div><img src="/images/jonathan-jackson.jpg" width="167px;" height="167px;"/></div>
<div><a href="https://twitter.com/rondale_sc" class="twitter-follow-button" alt="follow me on twitter" data-width="150px" data-show-count="false">Follow @rondale_sc</a></div>
<div style="margin-top:5px;">
  <h3>Hi, I'm Jon.</h3>
  <p>I love learning new things.  Here is where I'll share what I learn.  Typically code, sometimes my experience, sometimes just a neat trick.</p>
</div>
<a href="/mail.html">
  <img src="http://pairprogramwith.me/badge.png">
</a>
<div>
  <h3>Projects</h3>
  <ul>
    <li><a href="http://rondale-sc.github.com/EspnRb/" alt="espn_rb, a lightweight ruby wrapper around the ESPN api." title="EspnRb">EspnRb</a></li>
    <li><a href="http://jonathan-jackson.net/image_viewer_rails/" alt="ImageViewer image browser w/controls" title="Image Viewer">ImageViewer</a></li>
    <li><a href="https://github.com/rjackson/pivot.js" alt="Pivot.js - reporting lib" title="Pivot.js">Pivot.js</a></li>
    <li><a href="https://github.com/rondale-sc/run_with_it_redux" alt="This blog's Github Repo" title="Run With It Repo">Run With It</a></li>
    <li><a href="https://github.com/TampaRuby/turbot.git" alt="IRC bot for TampaRb channel" title="Turbot">Turbot</a></li>
    <li><a href="https://github.com/rondale-sc/remote_pair_chef" alt="Tool for provisioning EC2 instances quickly" title="RPC">Remove Pair Chef</a></li>
    <li><a href="https://github.com/promedical/hippo" alt="Tool for interacting with HIPAA documents" title="Hippo">Hippo</a></li>
  </ul>
</div>
<div><a href="http://feeds.feedburner.com/jonathan-jackson/WZqA" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="/images/feeds.png" alt="" style="border:0;width:100px;height:100px;"/></a></div>
